
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060b17;
  padding: 10px 20px;
}

.rightSide {
  display: flex;
  align-items: center;
}

.leftSide img {
  width: 55px;
  margin-left: 20px;
}

.rightSide a {
  margin-right: 20px;
  color: #cac9d1;
  text-decoration: none;
  font-weight: bold;
}

.rightSide input[type="text"] {
  margin-right: 20px;
  color: #cac9d1;
  text-decoration: none;
  font-weight: bold;
  background-color: #171f30; 
  border: none; 
  padding: 5px;
  width: 400px;
  height: 25px;
}

.rightSide a:hover {
  color: #ff0000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #060b17;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #171f30;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search {
  position: relative;
  display: inline-block;
}

.search-content {
  position: absolute;
  width: 200px;
  background-color: #0a142b;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #cac9d1;
}

.movie-item-search {
  margin-bottom: 10px;
  /* Adjust spacing between movie items */
}

.movie-info {
  display: flex;
  align-items: center;
}

.movie-info img {
  margin-right: 10px;
  /* Adjust spacing between image and title */
}

/* Clear the floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}