.container {
    margin-top: 20px;
  }
  
  .border {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .rounded {
    border-radius: 8px;
  }
  
  .p-4 {
    padding: 20px;
  }
  
  .m-4 {
    margin: 20px 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .col-md-4 {
    margin-bottom: 10px;
  }
  
  .col-md-4 a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #03102e;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(250, 217, 4);
    transition: background-color 0.3s ease;
  }
  
  .col-md-4 a:hover {
    background-color: #141d33;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  